<div class="container">
    <h1>Registrarse</h1>

    <form class="formulario" autocomplete="off">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="usuario.nombre" #nombre="ngModel" required>
            <div class="alert alert-danger p-1" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">{{getErrorMessage(nombre)}}</div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" [(ngModel)]="usuario.email" #email="ngModel" required>
            <div class="alert alert-danger p-1" *ngIf="email.invalid && (email.dirty || email.touched)">{{getErrorMessage(email)}}</div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="usuario.password" #password="ngModel" minlength="6" required>
            <div class="alert alert-danger p-1" *ngIf="password.invalid && (password.dirty || password.touched)">{{getErrorMessage(password)}}</div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-outline-info" (click)="saveUsuario()">Registrarse</button>
            <div class="mt-2">
                <a type="button" class="text-info" [routerLink]="['/login'] ">Iniciar sesión</a>
            </div>
        </div>


    </form>
</div>