.container {
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 540px;
    margin-top: 5%;
    box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.2);
}

h1 {
    padding-top: 10%;
    font-size: 3em;
    font-family: Bahnschrift Light, Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}

.formulario {
    width: 300px;
    margin: 5%;
    margin-left: 15%;
}

button {
    float: right;
}

.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42A948;
    /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
    /* red */
}