<div class="container">
    <h1>Bienvenido a To Do</h1>

    <form class="formulario">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" [(ngModel)]="usuario.email" #email="ngModel" required>
            <small id="emailHelp" class="form-text text-muted">Debe estar registrado</small>
            <div class="alert alert-danger p-1" *ngIf="email.invalid && (email.dirty || email.touched)">{{getErrorMessage(email)}}</div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="usuario.password" #password="ngModel" minlength="6" required>
            <div class="alert alert-danger p-1" *ngIf="password.invalid && (password.dirty || password.touched)">{{getErrorMessage(password)}}</div>
        </div>

        <button type="submit" class="btn btn-outline-info" (click)="login()">Ingresar</button>
        <a [routerLink]="['/logup']" class="text-info  mt-2">Registrarse</a>

    </form>


</div>